<ion-header class="header-theme">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref" color="light"></ion-back-button>
    </ion-buttons> -->
    <ion-title class="header-title">Lista de Consultas</ion-title>
    <!-- <img src="../../../assets/logo-relp-white 2.svg" width="120px"
      class="header-logo-title"> -->
  </ion-toolbar>
</ion-header>


<ion-content class="main">
  <ion-grid fixed>
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>


        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>


        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="" />
              </ion-avatar>
              
              <div class="card-content" >UBS</div>
            </ion-item>
            <div class="disciplina" >Estevao</div>
            <!-- <div id="text-style">{{c.dia}} às {{c.hora}}</div> -->
            <div class="aguardando" >Esperando atendimento</div>
            <!-- <div class="aguardando" *ngIf="c.professor">{{c.professor}}</div> -->
          </ion-card-header>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>
  
</ion-content>
