<ion-tabs >

  <ion-tab-bar slot="bottom" class="main">
    <ion-tab-button tab="suas-informacoes">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-label class="text-content">Suas Informações</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="lista-consulta">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="text-content">Listar Consultas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="marca-consulta">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label class="text-content">Marca Consultas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
