.logo{
  margin: 0px auto;
  display: block;
  position: relative;
  top: 20px;
};
    
    
    .input-theme{
      height: 52px;
      margin: 14px auto;
      width: 80%;
      color: white;
    --background: #0974d1;
    }
    .button-theme{
      --background: #36aa36;
      display: block;
      width: 50%;
      height: 54px;
      margin: 0 auto;
      position: relative;
      // bottom: 20px;
  }
    
    a#cadastrar{
      /* Cadastre-se */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    display: block;
    align-items: center;
    text-align: center;
    
    position: relative;
    bottom: -10px;
    color: white;
    }
    
    a#senha{
      /*Esqueceu senha*/
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 21px;
      /* identical to box height */
      display: block;
      align-items: center;
      text-align: center;

      position: relative;
      bottom: -10px;
    
      color: white;
    }