form{
    position: relative;
    bottom: 45px;
}
// ion-title#titulo{
//     font-family: Arial;
//     font-style: normal;
//     font-weight: normal;
//     font-size: 25px;
//     line-height: 22px;
// /* identical to box height */
//     text-align: center;

//     color: #FFFFFF;
// }

ion-item{
    width: 80%;
    height: 52px;
    margin: 10px 0;
};

ion-item:first-child{
    margin-top: 80px;
};

.header-md::after{
    width: 0%;
  }

.input-cadastro{
    height: 52px;
    left: 10%;
    width: 80%;
    margin: 14px, auto;
    --background: #0974d1;
    color: white;
};

.input-button{
    height: 52px;
    left: 10%;
    width: 80%;
    margin: 14px, auto;
    text-align: center;
    --background: #0974d1;
    color: white;
    font-weight: 600
};

.item-highlight{
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    --background: var(--highlight-background);
};

.termos{
    text-align: center;
};