<ion-header class="header-theme">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/lista-consulta" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Consulta</ion-title>
    <!-- <img src="../../../assets/logo-relp-white 2.svg" width="120px"
      class="header-logo-title"> -->
  </ion-toolbar>
</ion-header>

<ion-content class="main">
  <!-- <ion-item lines="none" class="foto-perfil">
    <ion-avatar>
      <img src="assets/foto-mandalorian.jpg" alt="foto"/>
    </ion-avatar>
    <ion-icon name="chatbubbles" (click)="chat()" ></ion-icon>
  </ion-item> -->
  <div id="div-style">
    <ion-avatar class="foto-perfil">
      <img id="imagem-aluno" src="assets/foto-mandalorian.jpg" />
    </ion-avatar>
  </div>

  <ion-grid fixed>
    <ion-row>
      <!-- <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style" lines="none">
          <p><b>Tipo de aula:</b></p>
        </ion-item>
      </ion-col> -->
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Paciente:</b> Din Djarin</p>
        </ion-item>
      </ion-col>

      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Sintomas:</b> Febre, calafrios, dores musculares, tosse, congestão, coriza, dores de cabeça e fadiga.
            Posivelmente gripe.
          </p>
        </ion-item>
      </ion-col>

      <!-- <ion-col >
        <ion-item class="label-style" lines="none">
          <p><b>Aluno:</b> {{aula.aluno}}</p>
        </ion-item>
      </ion-col> -->

      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Data:</b> 21/12/2020</p>
        </ion-item>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Horário de Entrada:</b> 14:20</p>
        </ion-item>
      </ion-col>

      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Horário de Sánda:</b>15:30</p>
        </ion-item>
      </ion-col>

      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>Localização:</b> Rosa Fernandes da Silva, 205a - Nova Esperança, Parnamirim</p>
        </ion-item>
      </ion-col>

      <ion-col size-lg="6" size-md="6" size-sm="6" size="12">
        <ion-item class="label-style">
          <p><b>ID:</b> 15</p>
        </ion-item>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>